:root {
  /* bg-colors */
  --bg-nav-color: #000000;
  --bg-theme-color: #14120b;
  --bg-secondary-color: #cccccc;
  --bg-tertiary-color: #cccccc;
  --card-hex-color: #1b1913;
  --card-01-hex-color: #1d1b15;
  --card-02-hex-color: #201e18;
  --card-03-hex-color: #26241e;
  --card-04-hex-color: #2b2923;
  --card-warm-hex-color: #1c1713;

  /* text-colors */
  --text-primary-color: #ffffff;
  --text-secondary-color: #edecec;
  --text-tertiary-color: #d7d6d5;
  --btn-text-color: #f54e00;
  --btn-bg-color: #000000;
  --btn-text-color: #000000;

  /* padding */
  --padding-sm: 0.5rem;
  --padding-md: 1rem;
  --padding-lg: 1.5rem;
  --padding-xl: 2rem;
  --padding-2xl: 3rem;

  /* margin */
  --margin-sm: 0.25rem;
  --margin-md: 0.5rem;
  --margin-lg: 1rem;
  --margin-xl: 1.5rem;
  --margin-2xl: 2rem;

  /* border-radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;
  --border-radius-lg: 1rem;
  --border-radius-xl: 1.5rem;
  --border-radius-2xl: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: var(--bg-theme-color);
  color: var(--text-primary-color);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  background-color: var(--bg-nav-color);
  width: 100%;
  height: 50px;
}

#logo {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.all-links {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: var(--padding-2xl);
}

.link:hover {
  color: var(--text-tertiary-color);
}

.link > a {
  text-decoration: none;
  color: var(--text-primary-color);
}

.nav-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-sm);
}

.signin-btn {
  background-color: var(--btn-bg-color);
  color: var(--text-primary-color);
  border: 1px solid var(--bg-tertiary-color);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
}

.download-btn {
  background-color: var(--bg-secondary-color);
  color: var(--btn-bg-color);
  border: 1px solid var(--bg-tertiary-color);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius-lg);
  cursor: pointer;
}

.hero-section {
  padding: var(--padding-xl);
}

#hero-text {
  font-weight: 200;
  font-size: 34px;
  width: 50%;
}

.hero-title {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: var(--padding-2xl);
}

#hero-cta {
  border-radius: var(--border-radius-2xl);
  padding: var(--padding-md) var(--padding-lg);
  border: 1px solid var(--bg-tertiary-color);
  font-size: 18px;
  margin-top: var(--margin-lg);
}

#hero-cta:hover {
  cursor: pointer;
  background-color: var(--bg-secondary-color);
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero-section-image {
  width: 95%;
}

.teams {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--padding-2xl);
  padding: var(--padding-xl);
}

.teams-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.team-card {
  border: 1px solid var(--card-04-hex-color);
  width: fit-content;
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--border-radius-md);
  background-color: var(--card-hex-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-card > img {
  width: 80px;
  height: 40px;
  color: var(--text-primary-color);
}

.testimonial-section {
  padding: var(--padding-xl);
}

#test-title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: var(--margin-2xl);
}

.testimonials {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: var(--padding-lg);
}

.testimonial-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--card-01-hex-color);
  background-color: var(--card-warm-hex-color);
  padding: var(--padding-md);
  border-radius: var(--border-radius-md);
  gap: 120px;
}

.card-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.avatar {
  width: 40px;
  border-radius: 5px;
}

.user-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 3px;
}

.user-name {
  font-weight: 200;
}

.user-role {
  font-weight: 200;
  color: var(--text-tertiary-color);
}

.use-case-section {
  padding: var(--padding-2xl);
}

#use-case-title,
#changelog-title {
  font-weight: 400;
  font-size: 30px;
  margin-bottom: var(--margin-xl);
}

.use-case-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.uc-card {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--card-01-hex-color);
  padding: var(--padding-lg);
  line-height: 1.5;
  width: 450px;
  border-radius: var(--border-radius-md);
}

.uc-title {
  font-weight: 200;
  color: var(--text-primary-color);
}

.uc-description {
  font-weight: 200;
  color: var(--bg-tertiary-color);
}

.uc-button,
.changelog-btn,
.teams-btn,
.h-btn,
.tab-btn {
  color: #f54e00;
  border: none;
  background-color: #f54e0000;
  margin: var(--margin-lg) 0;
  font-size: 18px;
}

.uc-button:hover,
.changelog-btn:hover,
.teams-btn:hover,
.h-btn:hover,
.tab-btn:hover {
  cursor: pointer;
}

.uc-image {
  width: 390px;
  border-radius: var(--border-radius-lg);
}

.changelog-section {
  padding: var(--padding-2xl);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.changelog-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 10px;
}

.cl-card {
  background-color: var(--card-hex-color);
  border: 1px solid var(--card-04-hex-color);
  padding: var(--padding-md) var(--padding-lg);
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.cl-card :hover {
  cursor: pointer;
}

.cl-date {
  color: gray;
  font-size: 18px;
}

.cl-title {
  color: var(--text-primary-color);
  font-size: 18px;
}

.tab-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin: 80px 50px 150px 50px;
  background-color: var(--card-hex-color);
  padding: var(--padding-xl);
  border-radius: var(--border-radius-md);
  gap: 20px;
}

.teams-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 80px 50px 150px 50px;
  background-color: var(--card-hex-color);
  padding: var(--padding-xl);
  border-radius: var(--border-radius-md);
  gap: 20px;
}

.teams-info {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 30px;
}

.teams-title,
.tab-title {
  color: var(--text-primary-color);
  font-weight: 300;
  font-size: 34px;
}

.teams-description,
.tab-description {
  color: gray;
  font-weight: 300;
  font-size: 34px;
}

.team-image,
.tab-image {
  width: 800px;
  border-radius: var(--border-radius-md);
}

.highlights-section {
  background-color: var(--card-warm-hex-color);
  display: flex;
  gap: 150px;
  padding: 100px;
  margin: var(--margin-2xl) 0;
}

#h-para {
  font-size: 18px;
  width: 15%;
}

.highlights {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.highlight-card {
  background-color: var(--card-03-hex-color);
  padding: var(--padding-2xl);
  border: 1px solid var(--card-hex-color);
  border-radius: var(--border-radius-md);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-direction: column;
  width: 80%;
}

.final-cta-section {
  text-align: center;
  margin: 150px 0;
  padding: var(--padding-2xl);
}

.final-cta-title {
  font-weight: 300;
  font-size: 80px;
  margin-bottom: var(--margin-lg);
}

#footer {
  background-color: var(--card-warm-hex-color);
  padding: var(--padding-2xl);
}

.footer-cols {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 100px;
}

.footer-product,
.footer-resources,
.footer-company,
.footer-legal,
.footer-connect {
  margin: var(--margin-2xl);
}

.footer-list-title {
  font-weight: 400;
  color: gray;
}

.footer-list {
  list-style: none;
  line-height: 2.2;
}

.footer-list-item {
  cursor: pointer;
  font-family: 400;
  color: var(--text-primary-color);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-md);
}

.footer-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-lg);
  color: gray;
}

.footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-xl);
}

.modes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-lg);
  cursor: pointer;
  background-color: var(--card-04-hex-color);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: 50px;
}

.language {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--padding-sm);
  cursor: pointer;
  background-color: var(--card-04-hex-color);
  padding: var(--padding-sm) var(--padding-md);
  border-radius: 50px;
}
